body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

header img, footer img {
    height: 5rem;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li {
    list-style-type: none;
    font-size: 2rem;
}

header nav ul li a {
    text-decoration: none;
}

main {
    width: 80%;
    margin: 0 auto;
}

main h2{
    font-size: 5rem;
    margin: 0;
}

main p{
    font-size: 2rem;
    margin: 0;
}
.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.intro .name h1 {
    font-size: 5rem;
    margin: 0;
}

.intro .name p {
    font-size: 2rem;
    margin: 0;
}

.skill {}

.skill ul {
    display: flex;
    padding: 0;
    gap: 1rem;
}

.skill ul li {
    list-style-type: none;
}

.skill ul li a {
    text-decoration: none;
}

.skill ul li a i {
    color: black;
    font-size: 2rem;
}

footer {
   display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

.social-media ul {
    display: flex;
    gap: 1.2rem;
    padding: 0;
}

.social-media ul li {
    list-style-type: none;
}

.social-media ul li a {
    text-decoration: none;
}

.social-media ul li a i {
    font-size: 2rem;
    color: white;
}

.contact{
    width: 80%;
    margin: 0 auto;
}
.contact h1{
    font-size: 5rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.contact form input{
    font-size: 2rem;
    width: 50%;
}

.contact form textarea{
    font-size: 2rem;
    width: 50%;
}

.contact form button{
    margin-top: 2rem;
    width: 10rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.project-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.project-container div{
    width: 40%;
}

.project-container div img{
    width: 100%;
}

@media only screen and (max-width: 400px) {
    header{
        width: 90%;
    }

    header nav ul{
        padding: 0;
    }

    header nav ul li{
        font-size: 1.5rem;
    }
    main{
        margin-top: 2rem;
    }

    .intro .name h1{
        font-size: 2rem;
    }

    .intro .name p{
        font-size: 1rem;
    }

    .skill ul li a i{
        font-size: 1.5rem;
    }

    .intro img{
        width:150px;
    } 

    main h2{
        margin-top: 3rem;
        font-size: 2rem;
    }

    main p{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    footer{
        width: 90%;
    }

    .social-media ul li a i{
        font-size: 1.5rem;
    }
}